<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Web App</a>
        <button title="Navigation menu" class="navbar-toggle" @onclick="ToggleNavMenu">
            <!-- Add an icon or text for the button if necessary -->
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/product">
                <span class="oi oi-home" aria-hidden="true"></span>Products
            </NavLink>
        </div>

    </nav>

</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : "navbar-expand";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
